body {
  padding: 2%;
}
.searchinput {
  width: 70%;
}
.searchDetails {
  color: #fff;
}
.header {
  position: sticky;
  top: 0;
  background-color: rgb(28, 122, 194);
  padding-top: 1%;
  padding-bottom: 0.05%;
}
